main{
    border: 1px solid grey;
    padding: 10px;
}

body{
    justify-content: center;
    display: flex;
    background-color: beige;
}
header{
    display: flex;
    justify-content: center;
    background-image: url(kepek/header.webp);
    font-size: 30px;
}
nav{
    display: flex;
    justify-content: center;
}
nav ul{
    list-style: none;
    
}
nav ul li a{
    color: black;
    font-size: 30px;
}


.kephozzavalo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.kephozzavalo img{
    width: 500px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
}

article h2{
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.Allergenek{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Elkeszit h2{
    font-size: 20px;
}
.Elkeszit{
    

}